.active-tours-container {
  width: 100vw;
  min-height: 100vh;
  background: url("../../images/tours-bg.jpg") no-repeat center fixed;
  background-size: cover;
  padding: 100px 0;

}

.tour-card {
  height: 300px;
  background: rgba(21, 21, 21, 0.7);
  color: white;
  padding: 30px;
  margin: 30px 0;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;

  .progressbar-container {
    width: 75%;
    height: 10px;
    transform: skew(-25deg);
    background: rgba(255, 255, 255, 0.4);

    .progressbar-progress {
      background-color: rgba(255, 255, 255, 0.5) !important;
    }
  }

  button {
    position: absolute;
    top: 310px;
    z-index: 2;
  }
}
.expanded {
  min-height: 300px;
  height: 100%;
  transition: all 0.5s ease-in-out;
}